/*Main Sections */


body{
	background-color: #222831;
	margin: 0;
	height: 100%;
	text-align: center;
	font-family: 'Alegreya Sans', serif;
	font-size: 100%;

}


/* Headings */

#custom-h1{
	font-size: 3rem;
	margin: 2.6rem auto 0 auto;
	font-family: 'Merriweather';
	color: black;
}

#custom-h2{
	font-family: 'Merriweather';
	font-weight: bold;
	color: black;
}

#custom-h3{
	font-family: 'Merriweather';
	font-weight: bold;
	color: white;
	font-size: large;
}

#custom-hr{
		height: 1px;
		width:25%;
		border-color: #EAF9F5;
		border-bottom: none;
}

h1{
	font-size: 3rem;
	margin: 2.6rem auto 0 auto;
	font-family: 'Merriweather';
	color: black;
}

h2 {
	font-family: 'Merriweather';
	font-weight: bold;
	color: black;
}

h3 {
	font-family: 'Merriweather';
	font-weight: bold;
	color: white;
}

hr {
	  height: 1px;
		width:25%;
		border-color: #40514E;
		border-bottom: none;
		margin: auto;
}

#hr-main{

		height: 1px;
		width:25%;
		border-color: #EAF9F5;
		border-bottom: none;
}

/* Text */

p {
	font-size: larger;
	line-height: 2;
	color: #40514E;
}


a:link {
  color: white;
  font-family: Merriweather;
  text-decoration: none;
}

a:hover {
	color: #40514E;
}

/*Containers*/

.top-container{

	margin: 200px auto 200px auto;
	display: table;

}

.middle-container{
	clear:left;
	margin: 300px auto auto auto;

}

.bottom-container{

	background-color: black;
	padding: 50px 0 20px

}

/*Specific Sections*/

#skill-row {
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
	line-height: 2;

}

.psych{
	width: 25%;
	float: left;
	margin-right: 30px;
}

.neurons{
	width: 25%;
	float: right;
	margin-left: 30px;
}

.robot {
	width: 25%;
	float: left;
	margin-right: 30px;
}

.studio {
	width: 25%;
	float: right;
	margin-left: 30px;
}

#hobby-space {
	margin: 50px auto 50px auto;
	font-family: 'Merriweather';
	font-weight: bold;
	color: black;
}

#blog-space {
	margin: 50px auto 50px auto;
	font-family: 'Merriweather';
	font-weight: bold;
	color: white;
}

.contact-me {
	margin: 50px auto 50px auto;
}

.profile-pic {
	width: 50%;
	float: left;
	margin-right: 30px;

}

#table-pic {
	width: 75%;

}

#grave-pic {
	width: 100%;

}

.mini-pic {
	width: 50%;
	padding: 0;
  	margin: 0;
  	box-sizing: border-box;
}

#profile{
	margin: 200px auto 200px auto;
}


#left-pads {
	font-family: 'Merriweather';
	font-weight: bold;
	vertical-align: middle;
	color: white;
}

#contact-message{
	width: 40%;
	margin: 40px auto 60px;
	color: #40514E;

}



/*Table*/

table {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

td {
     width: 150px;
     text-align: center;
     /*border: 1px solid black;*/
     padding: 5px;
}

#projects {
	margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* Button */

.btn {
  background: black /*#11cdd48*/;
  background-image: -webkit-linear-gradient(top, #11cdd4, #1199e);
  background-image: -moz-linear-gradient(top, #11cdd4, #1199e);
  background-image: -ms-linear-gradient(top, #11cdd4, #1199e);
  background-image: -o-linear-gradient(top, #11cdd4, #1199e);
  background-image: linear-gradient(to bottom, #11cdd4, #1199e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Merriweather;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

/*FORM*/
form {
	width: 20%
}

.form-control{
	/*background-color: #222831;*/
	width: 40%
}

/*NAV BAR*/

.navbar-nav li{
  margin-right: 10px;
  display: inline-block;


}

/*	margin-bottom: 0 !important;
	border: 0 !important;
  	padding-top: 0px !important;
	display: flex !important;
  	list-style-type: none !important;
  	justify-content: space-between !important;
}*/
